body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: #EAEAEA;
}
.hero-bg {
    background-color: black;
}
.cta-button {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(96, 165, 250, 0.2);
}

.cta-button.sheen-effect::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    animation: sheen 3s infinite;
    animation-delay: 1s;
}

@keyframes sheen {
    100% {
        left: 150%;
    }
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 15px 25px rgba(96, 165, 250, 0.3);
}
.section-title {
    font-weight: 800;
}
.gradient-text {
    background: -webkit-linear-gradient(45deg, #60a5fa, #1d4ed8);
    -webkit-background-clip: text;
    background-clip: text; /* Adicionado para máxima compatibilidade */
    -webkit-text-fill-color: transparent;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.accordion-button.active + .accordion-content {
    transition: max-height 1s ease-in-out;
    max-height: 1000px; /* Adjust as needed */
}
.bonus-card {
    border: 1px solid #222;
    transition: all 0.3s ease;
}
.bonus-card:hover {
    border-color: #60a5fa;
    transform: translateY(-5px);
}
.special-bonus {
    border-color: #FACC15;
}

.live-view-box {
    background-color: #111827; /* bg-gray-900 */
    border: 2px solid #3b82f6; /* border-blue-500 */
    border-radius: 1rem; /* rounded-2xl */
    padding: 1.5rem; /* p-6 */
    text-align: center;
}

.live-view-number {
    font-size: 2.25rem; /* text-4xl */
    font-weight: 900; /* font-black */
    color: #ef4444; /* text-red-500 */
    display: block;
    margin-bottom: 0.5rem; /* mb-2 */
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
